.container {
    width:1024px;
}

.text-center{
    text-align: center;
}

.align-center-img {
    margin: 0 auto;
}

.align-vertical {
    margin: 0 auto;
}

.text-left{
    text-align: left;
}


.margin-bottom-10{
    margin-bottom: 10px;
}

.uppercase{
    text-transform: uppercase;
}


.lettering-tittle{
    font-size: 1.3em;
    letter-spacing: 0.1em;
}

.margin-10{
    margin-top:10px;
}

.margin-25{
    margin-top:25px;
}

.margin-50{
    margin-top:50px;
}

.margin-bottom-50{
    margin-bottom:50px;
}

.margin-80{
    margin-top:80px;
}

.vertical-align{
    vertical-align: middle;
}

.small-form {
    margin-top:100px;
}